## Import Package

In [1]:
import pandas as pd

## Pandas Data Type
1. Series
2. Data Frame
3. Panel

### 1. Series

#### 1-1. 시리즈 생성

In [2]:
# 생성
coffee_menu = pd.Series([4500, 5500, 4800], index=['americano',
                                                  'coldbrew',
                                                  'cafelatte'])
coffee_menu

americano    4500
coldbrew     5500
cafelatte    4800
dtype: int64

#### 1-2. 시리즈 조회

In [5]:
# 값 / 인덱스 출력
print(coffee_menu.values)
print(coffee_menu.index)

[4500 5500 4800]
Index(['americano', 'coldbrew', 'cafelatte'], dtype='object')

### 2. Data Frame

#### 2-1. 데이터프레임 생성
* 이차원 리스트 (List)
* 딕셔너리 (Dictionary)

In [7]:
# 이차원 리스트로 생성
data = [
    ['이이이', '여성', 27],
    ['김김김', '남성', 30],
    ['박박박', '여성', 40],
]

df = pd.DataFrame(data)
df

     0   1   2
0  이이이  여성  27
1  김김김  남성  30
2  박박박  여성  40

In [8]:
# 이차원 리스트로 생성 - Column Index 지정

df = pd.DataFrame(data, columns=['이름', '성별', '나이'])
df

    이름  성별  나이
0  이이이  여성  27
1  김김김  남성  30
2  박박박  여성  40

In [10]:
# 딕셔너리로 생성

data = {
    '이름' : ['이이이', '김김김', '박박박'],
    '성별' : ['여성', '남성', '여성'],
    '나이' : [27, 30, 40]
}

df = pd.DataFrame(data)
df

    이름  성별  나이
0  이이이  여성  27
1  김김김  남성  30
2  박박박  여성  40

#### 2-2. 데이터프레임 조회