# **â­ï¸â­ï¸ Pandas â­ï¸â­ï¸**

*ì¶œì²˜ : íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ ì™„ë²½ ê°€ì´ë“œ (ê¶Œì² ë¯¼ ì €)*

## **Pandas ê°œìš” ğŸ¤“**

### **ğŸ“ What is Pandas ?**

- íŒŒì´ì¬ì˜ ëŒ€í‘œì ì¸ ë°ì´í„° ì²˜ë¦¬ íŒ¨í‚¤ì§€
- 2ì°¨ì› ë°ì´í„° ì²˜ë¦¬ì— íŠ¹í™”ë˜ì–´ ìˆìœ¼ë©°, ë§·í”Œë¡¯ë¦½ì„ í˜¸ì¶œí•´ ì‰½ê²Œ ì‹œê°í™” ê¸°ëŠ¥ì„ ì§€ì›

## **Get into Pandas ğŸ‘¾**

### **ğŸ“ Pandas ë¶ˆëŸ¬ì˜¤ê¸°**

In [27]:
import pandas as pd

### **ğŸ“ Pandas Data Type**

1. Series : Indexì™€ ë‹¨ í•˜ë‚˜ì˜ ì¹¼ëŸ¼ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° êµ¬ì¡°ì²´
2. Data Frame : ì¹¼ëŸ¼ì´ ì—¬ëŸ¬ ê°œì¸ ë°ì´í„° êµ¬ì¡°ì²´ (ì—¬ëŸ¬ ê°œì˜ Seriesë¡œ ì´ë£¨ì–´ì¡Œë‹¤ê³  í•  ìˆ˜ ìˆë‹¤.)

### **ğŸ“ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°**

In [28]:
titanic_df = pd.read_csv('./Data/titanic_train.csv')

### **ğŸ“ ë°ì´í„° í™•ì¸í•˜ê¸°**

#### **1. `.head()`**

- ë°ì´í„°ì˜ ë§¨ ì•ì— ìˆëŠ” Nê°œì˜ ë¡œìš°ë¥¼ ë°˜í™˜
- ê¸°ë³¸ê°’ () ì€ 5ê°œ

In [29]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### **2. `.shape()`**

- í–‰ê³¼ ì—´ì˜ ê°¯ìˆ˜ë¥¼ íŠœí”Œ í˜•íƒœë¡œ ë°˜í™˜
- (row, col)

In [30]:
titanic_df.shape

(891, 12)

#### **3. `.info()`**

- í–‰ê³¼ ì—´ì˜ ê°¯ìˆ˜
- ê° ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì…, Not Null ì¸ ê±´ìˆ˜
- ì „ì²´ ë°ì´í„° íƒ€ì…ì˜ ìš”ì•½

In [31]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### **4. `.describe()`**

- ìˆ«ìí˜• ë°ì´í„°ì— ëŒ€í•œ n-percentile ë¶„í¬ë„ (25%, 50%, 75%) / ìµœëŒ“ê°’, ìµœì†Ÿê°’ / í‰ê· ê°’ / í‘œì¤€í¸ì°¨
- ì´ ë©”ì„œë“œë§Œìœ¼ë¡œ ì •í™•í•œ ë¶„í¬ë„ë¥¼ ì•Œê¸°ëŠ” ë¬´ë¦¬ì§€ë§Œ, ê°œëµì ì¸ ìˆ˜ì¤€ì˜ ë¶„í¬ë„ë¥¼ í™•ì¸í•  ìˆ˜ ìˆì–´ ìœ ìš©í•˜ë‹¤.

In [32]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

##### **n-percentile (25%, 50%, 75%)**

Pclass ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„° ê°’ë“¤ì„ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ (ë‚®ì€ ê°’ -> ë†’ì€ ê°’)
- ì• 25% êµ¬ê°„ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ëŠ” 2
- 50% êµ¬ê°„ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ëŠ” 3
- 75% êµ¬ê°„ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ëŠ” 3

`min` ~ `max` ê°€ `1` ~ `3` ì´ê³ , ê° `25%, 50%, 70%` ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë“¤ì´ `2, 3, 3` ì¸ ê²ƒì„ ë¯¸ë£¨ì–´ ë´¤ì„ ë•Œ,
- Pclassì˜ ë°ì´í„°ëŠ” 1, 2, 3 ìœ¼ë¡œ ì´ë£¨ì–´ì§„ ê²ƒì„ ì§ì‘í•  ìˆ˜ ìˆë‹¤.

In [33]:
set(titanic_df['Pclass'].values)

{1, 2, 3}

In [34]:
titanic_pclass = titanic_df['Pclass'].value_counts()
titanic_pclass

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

#### **5. `df[]`**

* íŠ¹ì • ì¹¼ëŸ¼ì˜ ë°ì´í„°ë¥¼ ì‹œë¦¬ì¦ˆ (; Indexì™€ ë‹¨ í•˜ë‚˜ì˜ ì¹¼ëŸ¼ìœ¼ë¡œ êµ¬ì„±ëœ ì„¸íŠ¸) í˜•íƒœë¡œ ë°˜í™˜

In [36]:
titanic_df['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

#### **6. `.value_counts()`**

* íŠ¹ì • ì¹¼ëŸ¼ì˜ ë°ì´í„°ê°’ ê±´ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆ í˜•íƒœë¡œ ë°˜í™˜
* ê¸°ë³¸ì ìœ¼ë¡œ Null ê°’ì„ ë¬´ì‹œí•˜ê³  ê²°ê´ê°’ì„ ë‚´ë†“ê¸° ë•Œë¬¸ì— ì£¼ì˜í•´ì•¼ í•œë‹¤.
* ê¸°ë³¸ê°’ì€ dropna=True ë¡œ `.value_counts(dropna=True)` ì™€ ë™ì¼í•˜ê³ , Null ê°’ì„ ì œì™¸í•˜ê³  ë°˜í™˜í•œë‹¤.
* Null ê°’ì„ í¬í•¨í•´ì„œ ì¹´ìš´íŠ¸ í•˜ê³  ì‹¶ë‹¤ë©´, `.value_counts(dropna=False)`

In [37]:
titanic_df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [38]:
titanic_df['Embarked'].value_counts(dropna=False)

Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

### **ğŸ“ DF <-> ë¦¬ìŠ¤íŠ¸/ë”•ì…”ë„ˆë¦¬/ndarray ìƒí˜¸ë³€í™˜**

- íŠ¹íˆ ì‚¬ì´í‚·ëŸ°ì˜ ë§ì€ APIëŠ” DataFrameì„ ì¸ìë¡œ ì…ë ¥ë°›ì„ ìˆ˜ ìˆì§€ë§Œ, ê¸°ë³¸ì ì„ ë„˜íŒŒì´ ndarrayë¥¼ ì…ë ¥ ì¸ìë¡œ ì‚¬ìš©í•˜ëŠ” ê²½ìš°ê°€ ëŒ€ë¶€ë¶„ì´ê¸° ë•Œë¬¸ì—, DFì™€ ndarray ìƒí˜¸ ê°„ì˜ ë³€í™˜ì€ ë§¤ìš° ë¹ˆë²ˆí•˜ê²Œ ë°œìƒí•œë‹¤.

#### **1. ë¦¬ìŠ¤íŠ¸/ë”•ì…”ë„ˆë¦¬/ndarray -> DF**

- ë¦¬ìŠ¤íŠ¸/ndarray : column ìˆ˜ëŒ€ë¡œ column ì§€ì •
- ë”•ì…”ë„ˆë¦¬ : ë¬¸ìì—´ columnëª…ìœ¼ë¡œ ë§¤í•‘, ë¦¬ìŠ¤íŠ¸/ndarray ì¹¼ëŸ¼ ë°ì´í„°ë¡œ values ë§¤í•‘

In [40]:
import numpy as np

In [41]:
# 1ì°¨ì› ë¦¬ìŠ¤íŠ¸/ndarray -> DF

col_name1 = ['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)

df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1ì°¨ì› ë¦¬ìŠ¤íŠ¸ to DF:\n', df_list1)

df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1ì°¨ì› ndarray to DF:\n', df_array1)

1ì°¨ì› ë¦¬ìŠ¤íŠ¸ to DF:
    col1
0     1
1     2
2     3
1ì°¨ì› ndarray to DF:
    col1
0     1
1     2
2     3

In [42]:
# 2ì°¨ì› ë¦¬ìŠ¤íŠ¸/ndarray -> DF

col_name2 = ['col1', 'col2', 'col3']
list2 = [[1, 2, 3],
        [4, 5, 6]]
array2 = np.array(list2)

df_list2 = pd.DataFrame(list2, columns=col_name2)
print('2ì°¨ì› ë¦¬ìŠ¤íŠ¸ to DF:\n', df_list2)

df_array2 = pd.DataFrame(array2, columns=col_name2)
print('2ì°¨ì› ndarray to DF:\n', df_array2)

2ì°¨ì› ë¦¬ìŠ¤íŠ¸ to DF:
    col1  col2  col3
0     1     2     3
1     4     5     6
2ì°¨ì› ndarray to DF:
    col1  col2  col3
0     1     2     3
1     4     5     6

In [43]:
# ë”•ì…”ë„ˆë¦¬ -> DF

dict = {'col1':[1,11], 'col2':[2,22], 'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print('dict to DF:\n', df_dict)

dict to DF:
    col1  col2  col3
0     1     2     3
1    11    22    33

#### **2. DF -> ë¦¬ìŠ¤íŠ¸/ë”•ì…”ë„ˆë¦¬/ndarray**

- **DF -> ndarray** (`.values()`)
  - ë°ì´í„° í•¸ë“¤ë§ì€ DataFrame ì„ ì´ìš©í•˜ë”ë¼ë„, ë¨¸ì‹ ëŸ¬ë‹ íŒ¨í‚¤ì§€ì˜ ì…ë ¥ ì¸ì ë“±ì— ì ìš©í•˜ê¸° ìœ„í•´ ndarray ë¡œ ë³€í™˜í•´ì•¼í•˜ê¸° ë•Œë¬¸ì— ë°˜ë“œì‹œ ê¸°ì–µí•˜ê¸°
- **DF -> ë¦¬ìŠ¤íŠ¸** (`.values.tolist()`)
- **DF -> ë”•ì…”ë„ˆë¦¬** (`.to_dict()`)
  - (`.to_dict()`) : ì¸ì ë¯¸ì ìš©ì‹œ, ê°’ì€ setë¡œ ë°˜í™˜
  - (`.to_dict('list')`) : ì¸ìë¡œ 'list'ë¥¼ ì…ë ¥í•˜ë©´ ê°’ì€ ë¦¬ìŠ¤íŠ¸í˜•ìœ¼ë¡œ ë°˜í™˜

In [45]:
df_dict

   col1  col2  col3
0     1     2     3
1    11    22    33

In [47]:
# DF -> ndarray

array3 = df_dict.values
print('Type: ', type(array3))
print('Shape: ', array3.shape)
print('DF to ndarray:\n', array3)

Type:  <class 'numpy.ndarray'>
Shape:  (2, 3)
DF to ndarray:
 [[ 1  2  3]
 [11 22 33]]

In [50]:
# DF -> list

list3 = df_dict.values.tolist()
print('Type: ', type(list3))
print('DF to list:\n', list3)

Type:  <class 'list'>
DF to list:
 [[1, 2, 3], [11, 22, 33]]

In [53]:
# DF -> dict (list ì¸ì ë¯¸ì ìš©)

dict3 = df_dict.to_dict()
print('Type: ', type(dict3))
print('DF to dict:\n', dict3)

Type:  <class 'dict'>
DF to dict:
 {'col1': {0: 1, 1: 11}, 'col2': {0: 2, 1: 22}, 'col3': {0: 3, 1: 33}}

In [54]:
# DF -> dict (list ì¸ì)

dict4 = df_dict.to_dict('list')
print('Type: ', type(dict4))
print('DF to dict:\n', dict4)

Type:  <class 'dict'>
DF to dict:
 {'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

### **ğŸ“ Column ë°ì´í„° ì„¸íŠ¸ ìƒì„±/ìˆ˜ì •**

#### **?**

### **ğŸ“ ë°ì´í„° ì‚­ì œ**

#### **?**

In [67]:
col_name4 = ['A', 'B', 'C']
array4 = np.array([[1, 2, 3],
                  [4, 5, 6]])
df4 = pd.DataFrame(array4, columns=col_name4)
df4

   A  B  C
0  1  2  3
1  4  5  6

In [68]:
df4.drop(['A'], axis=1)

   B  C
0  2  3
1  5  6

In [69]:
df4.drop(0, axis=0)

   A  B  C
1  4  5  6

In [70]:
df4.drop(['A'], axis=1, inplace=True)

In [71]:
df4

   B  C
0  2  3
1  5  6

In [72]:
df4.drop(0, axis=0, inplace=True)

In [73]:
df4

   B  C
1  5  6

In [63]:
df4 = df4.drop(['B'], axis=1, inplace=True)

In [66]:
df4

### **ğŸ“ Index ê°ì²´**

#### **?**

In [76]:
indexes = titanic_df.index

In [85]:
print(indexes)
print(indexes.values.shape)
print(indexes[:50].values)
print(indexes.values[:50])
print(indexes[50])

RangeIndex(start=0, stop=891, step=1)
(891,)
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]
50

In [87]:
titanic_df['Fare'][:3]

0     7.2500
1    71.2833
2     7.9250
Name: Fare, dtype: float64

In [ ]:
tita

### **ğŸ“ ë°ì´í„° ì…€ë ‰ì…˜/í•„í„°ë§**

#### **?**

### **ğŸ“ ì •ë ¬, Aggregation, Groupby**

#### **?**

### **ğŸ“ ê²°ì¸¡ ë°ì´í„° ì²˜ë¦¬**

#### **?**

### **ğŸ“ lambdaì‹ìœ¼ë¡œ ë°ì´í„° ê°€ê³µ**

#### **?**